.row
  .small-12.columns.text-center
    %h3 What do you want to do?

.row
  .small-6.columns.text-center
    %a.button{ href: new_multiple_houses_path }
      Import Audit Files
  .small-6.columns.text-center
    %a.button{ href: exports_path }
      Export Data
